---
Checks: '-*,
  bugprone-argument-comment,
  bugprone-assert-side-effect,
  bugprone-assignment-in-if-condition,
  bugprone-bad-signal-to-kill-thread,
  bugprone-bool-pointer-implicit-conversion,
  bugprone-branch-clone,
  bugprone-casting-through-void,
  bugprone-chained-comparison,
  bugprone-compare-pointer-to-member-virtual-function,
  bugprone-copy-constructor-init,
  bugprone-crtp-constructor-accessibility,
  bugprone-dangling-handle,
  bugprone-dynamic-static-initializers,
  bugprone-exception-escape,
  bugprone-fold-init-type,
  bugprone-forward-declaration-namespace,
  bugprone-forwarding-reference-overload,
  bugprone-inaccurate-erase,
  bugprone-inc-dec-in-conditions,
  bugprone-incorrect-enable-if,
  bugprone-incorrect-roundings,
  bugprone-infinite-loop,
  bugprone-integer-division,
  bugprone-lambda-function-name,
  bugprone-macro-parentheses,
  bugprone-macro-repeated-side-effects,
  bugprone-misplaced-operator-in-strlen-in-alloc,
  bugprone-misplaced-pointer-arithmetic-in-alloc,
  bugprone-misplaced-widening-cast,
  bugprone-move-forwarding-reference,
  bugprone-multi-level-implicit-pointer-conversion,
  bugprone-multiple-new-in-one-expression,
  bugprone-multiple-statement-macro,
  bugprone-no-escape,
  bugprone-non-zero-enum-to-bool-conversion,
  bugprone-not-null-terminated-result,
  bugprone-optional-value-conversion,
  bugprone-parent-virtual-call,
  bugprone-posix-return,
  bugprone-redundant-branch-condition,
  bugprone-reserved-identifier,
  bugprone-return-const-ref-from-parameter,
  bugprone-shared-ptr-array-mismatch,
  bugprone-signal-handler,
  bugprone-signed-char-misuse,
  bugprone-sizeof-container,
  bugprone-sizeof-expression,
  bugprone-spuriously-wake-up-functions,
  bugprone-standalone-empty,
  bugprone-string-constructor,
  bugprone-string-integer-assignment,
  bugprone-string-literal-with-embedded-nul,
  bugprone-stringview-nullptr,
  bugprone-suspicious-enum-usage,
  bugprone-suspicious-include,
  bugprone-suspicious-memory-comparison,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-missing-comma,
  bugprone-suspicious-realloc-usage,
  bugprone-suspicious-semicolon,
  bugprone-suspicious-string-compare,
  bugprone-suspicious-stringview-data-usage,
  bugprone-swapped-arguments,
  bugprone-terminating-continue,
  bugprone-throw-keyword-missing,
  bugprone-too-small-loop-variable,
  bugprone-unchecked-optional-access,
  bugprone-undefined-memory-manipulation,
  bugprone-undelegated-constructor,
  bugprone-unhandled-exception-at-new,
  bugprone-unhandled-self-assignment,
  bugprone-unique-ptr-array-mismatch,
  bugprone-unsafe-functions,
  bugprone-unused-local-non-trivial-variable,
  bugprone-unused-raii,
  bugprone-use-after-move,
  bugprone-pointer-arithmetic-on-polymorphic-object,
  bugprone-virtual-near-miss,
  cert-dcl50-cpp,
  cert-dcl58-cpp,
  cert-env33-c,
  cert-err34-c,
  cert-err52-cpp,
  cert-err58-cpp,
  cert-err60-cpp,
  cert-flp30-c,
  cert-mem57-cpp,
  cert-msc50-cpp,
  cert-msc51-cpp,
  cert-oop57-cpp,
  cert-oop58-cpp,
  cert-err34-cpp,
  cert-err58-cpp,
  cert-err60-cpp,
  clang-analyzer-optin.cplusplus.VirtualCall,
  clang-analyzer-cplusplus.StringChecker,
  cppcoreguidelines-avoid-const-or-ref-data-members
  cppcoreguidelines-avoid-do-while
  cppcoreguidelines-avoid-goto
  cppcoreguidelines-avoid-non-const-global-variables
  cppcoreguidelines-avoid-reference-coroutine-parameters
  cppcoreguidelines-init-variables
  cppcoreguidelines-interfaces-global-init
  cppcoreguidelines-macro-usage
  cppcoreguidelines-misleading-capture-default-by-value
  cppcoreguidelines-missing-std-forward
  cppcoreguidelines-narrowing-conversions
  cppcoreguidelines-no-malloc
  cppcoreguidelines-no-suspend-with-lock
  cppcoreguidelines-owning-memory
  cppcoreguidelines-prefer-member-initializer
  cppcoreguidelines-pro-bounds-array-to-pointer-decay
  cppcoreguidelines-pro-bounds-constant-array-index
  cppcoreguidelines-pro-bounds-pointer-arithmetic
  cppcoreguidelines-pro-type-const-cast
  cppcoreguidelines-pro-type-cstyle-cast
  cppcoreguidelines-pro-type-member-init
  cppcoreguidelines-pro-type-reinterpret-cast
  cppcoreguidelines-pro-type-static-cast-downcast
  cppcoreguidelines-pro-type-union-access
  cppcoreguidelines-pro-type-vararg
  cppcoreguidelines-rvalue-reference-param-not-moved
  cppcoreguidelines-slicing
  cppcoreguidelines-special-member-functions
  cppcoreguidelines-virtual-class-destructor
  fuchsia-statically-constructed-objects,
  google-explicit-constructor,
  google-readability-casting,
  hicpp-exception-baseclass,
  hicpp-explicit-conversions,
  hicpp-ignored-remove-result,
  hicpp-signed-bitwise,
  misc-confusable-identifiers,
  misc-coroutine-hostile-raii,
  misc-header-include-cycle,
  misc-misleading-bidirectional,
  misc-misleading-identifier,
  misc-misplaced-const,
  misc-new-delete-overloads,
  misc-non-copyable-objects,
  misc-redundant-expression,
  misc-static-assert,
  misc-throw-by-value-catch-by-reference,
  misc-unconventional-assign-operator,
  misc-uniqueptr-reset-release,
  misc-unused-alias-decls,
  misc-unused-parameters,
  misc-unused-using-decls,
  misc-use-internal-linkage,
  modernize-avoid-c-arrays,
  modernize-deprecated-headers,
  modernize-loop-convert,
  modernize-make-unique,
  modernize-pass-by-value,
  modernize-raw-string-literal,
  modernize-return-braced-init-list,
  modernize-type-traits,
  modernize-use-auto,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-noexcept,
  modernize-use-override,
  modernize-use-using,
  performance-avoid-endl,
  performance-enum-size,
  performance-faster-string-find,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-inefficient-algorithm,
  performance-inefficient-string-concatenation,
  performance-inefficient-vector-operation,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-no-automatic-move,
  performance-no-int-to-ptr,
  performance-noexcept-destructor,
  performance-noexcept-move-constructor,
  performance-noexcept-swap,
  performance-trivially-destructible,
  performance-type-promotion-in-math-fn,
  performance-unnecessary-copy-initialization,
  performance-unnecessary-value-param,
  portability-restrict-system-includes,
  portability-simd-intrinsics,
  portability-std-allocator-const,
  readability-avoid-const-params-in-decls,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-container-data-pointer,
  readability-container-size-empty,
  readability-convert-member-functions-to-static,
  readability-duplicate-include,
  readability-else-after-return,
  readability-function-size,
  readability-inconsistent-declaration-parameter-name,
  readability-isolate-declaration,
  readability-make-member-function-const,
  readability-named-parameter,
  readability-qualified-auto,
  readability-redundant-casting,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-member-init,
  readability-redundant-preprocessor,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-simplify-boolean-expr,
  readability-simplify-subscript-expr,
  readability-static-accessed-through-instance,
  readability-suspicious-call-argument,
  readability-uppercase-literal-suffix,
  readability-use-anyofallof,
  readability-use-std-min-max
  '
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '[a-z0-9]+_[a-z]+\.h'
UseColor: true
FormatStyle: 'file'
