# Precompiled Headers
*.gch
*.pch

# Temporary build artefacts
*.tmp
*.log

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Python cache
__pycache__

# Executables
*.exe
*.out
*.app
src/flexemu
src/fsetup
src/flexplorer
src/mdcrtool
src/dsktool
src/flex2hex
src/updatemd
src/tools/bin2s19
src/tools/*flex
src/tools/send2flx
src/tools/testdaa
test/test_gccasm

# Visual Studio files
.vs/
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
build/windows/vsversion.ini
build/windows/*.tar.gz
build/windows/*.tgz
build/windows/*.zip
build/windows/Qt
build/windows/installer/Contrib
build/windows/installer/Docs
build/windows/installer/Examples
build/windows/installer/Plugins
src/msvcQtPath.props
src/*.vcxproj.user
src/config.h
bin
# vi swap file
*.swp

# eclipse project files
.cproject
.project
.settings/
