[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
	ignore = untracked
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
	ignore = untracked
[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
	ignore = untracked
