body {
    font-family: "Courier Prime","Courier new",Courier,monospace;
    background-color: WhiteSmoke;
    margin: 1em;
}

table, th, td {
    padding: 0.4em;
    border-collapse: collapse;
}

table, th {
    border: 2px solid black;
}

table, td {
    border: 1px solid black;
}

dt {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul {
    margin-bottom: 0px;
}

/* class="invisible", a table with invisible borders */
table.invisible,
table.invisible th,
table.invisible td {
    border: 0px solid black;
}
/* class="compact", a table with no top/bottom padding */
table.compact td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}

div.options-list dt {
    font-weight: bold;
}
div.options-list dd {
    text-align: justify;
}

.justify {
    text-align: justify;
}

.bold {
    font-weight: bold;
}

kbd {
    background: #F7F7F7;
    background-image: linear-gradient(to bottom, White, Silver);
    border-color:#DDDDDD #AAAAAA #888888 #CCCCCC;
    border-radius:4px;
    border-style:solid;
    border-width:2px;
    font-family:inherit;
    padding:0 .4em;
    text-shadow:0 1px rgba(255,255,255,.5);
    white-space:nowrap;
}

