name: flexemu-linux-build-and-test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ ubuntu-22.04, ubuntu-24.04 ]
        qt-version: [ 5, 6 ]
        compiler: [[ gcc, g++ ], [ gcc-13, g++-13 ], [ clang, clang++ ]]
        exclude:
          - os: ubuntu-22.04
            compiler: [ gcc-13, g++-13 ]
          - os: ubuntu-22.04
            qt-version: 6
          # This combination fails to configure.
          # Detail: Compile error when trying to compile a moc generated file.
          - os: ubuntu-24.04
            compiler: [ clang, clang++ ]
            qt-version: 6
      fail-fast: false
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        # Use bash login shell sourcing ~/.bash_profile
        shell: bash -leo pipefail {0}
    env:
      CC: ${{ matrix.compiler[0] }}
      CXX: ${{ matrix.compiler[1] }}
      QT_SELECT: qt${{ matrix.qt-version }}
    steps:

      - name: Context
        run: |
          CCVER='/[^0-9]([0-9]+\.[0-9]+\.[0-9]+)/p;q'
          uname -a
          VER=`$CC --version | sed -nE $CCVER`
          echo "C compiler version:" $VER
          VER=`$CXX --version | sed -nE $CCVER`
          echo "C++ compiler version:" $VER
          echo "Number of cores: " `grep -c processor /proc/cpuinfo`
          echo `lscpu | grep "^CPU(s):"`
          echo `lscpu | grep "Thread(s)"`
          echo "Qt version:" $QT_SELECT

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Install Qt5 packages
        if: ${{ matrix.qt-version == 5 }}
        run: |
          sudo apt-get update
          sudo apt-get install build-essential ninja-build libncurses-dev qtbase5-dev qtbase5-dev-tools libqt5x11extras5-dev -y
          # The following path contains qmake and qmake5
          echo export PATH=/usr/lib/qt5/libexec:\$PATH >> $HOME/.bash_profile
          # The following path contains moc, rcc and uic
          echo export PATH=/usr/lib/qt5/bin:\$PATH >> $HOME/.bash_profile

      - name: Install Qt6 packages
        if: ${{ matrix.qt-version == 6 }}
        run: |
          sudo apt-get update
          sudo apt-get install build-essential ninja-build cmake-data qt6-base-dev qt6-base-dev-tools
          # The following path contains qmake and qmake6
          echo export PATH=/usr/lib/qt6/libexec:\$PATH >> $HOME/.bash_profile
          # The following path contains moc, rcc and uic
          echo export PATH=/usr/lib/qt6/bin:\$PATH >> $HOME/.bash_profile

      - name: Configure
        run: |
          echo export QT_PREFIX_PATH=/usr/lib/x86_64-linux-gnu/cmake/Qt${{matrix.qt-version}}
          cmake -S . -B .build -G Ninja -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_INSTALL_PREFIX:PATH=$HOME/usr -DCMAKE_INSTALL_SYSCONFDIR=$HOME/etc -DCMAKE_PREFIX_PATH=$QT_PREFIX_PATH -DFLEXEMU_QT_MAJOR_VERSION=${{matrix.qt-version}}

      - name: Make
        run: cd .build; ninja

      - name: Install
        run: cd .build; ninja install

      - name: Test
        run: |
          cd .build
          ldd bin/flexemu
          ldd bin/flexplorer
          ctest -V
          bin/test_gccasm
          bin/dsktool -V
          bin/mdcrtool -V
          bin/flex2hex -V
          bin/dsktool -l ../disks/games.dsk
          bin/dsktool -f new.dsk -S 80dsdd
          bin/dsktool -C ../disks/system.dsk -T new.dsk
          bin/dsktool -l new.dsk

      - name: Create artifacts
        if: always()
        run: |
          mkdir -p result/test
          cd .build
          if [ -f Testing/Temporary/LastTest.log ]; then
            cp Testing/Temporary/LastTest.log ../result/test
          fi
          if [ -f ../CMakeFiles/CMakeOutput.log ]; then
            cp ../CMakeFiles/CMakeOutput.log ../result/test
          fi
          cd ..
          echo "OS:           ${{matrix.os}}" > result/context.txt
          echo "SHELL:        $SHELL" > result/context.txt
          echo "Qt-version:   Qt${{matrix.qt-version}}" > result/context.txt
          echo "C-compiler:   ${{matrix.compiler[0]}}" > result/context.txt
          echo "C++-compiler: ${{matrix.compiler[1]}}" > result/context.txt

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: flexemu-build-and-test-${{matrix.os}}-qt${{matrix.qt-version}}-${{matrix.compiler[0]}}-result
          path: result
          if-no-files-found: error
