name: flexemu-clang-tidy-check
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  clang-tidy-check:
    strategy:
      matrix:
        # Ubuntu verion has to be specified, added llvm apt repository depends
        # on it.
        os: [ ubuntu-22.04 ]
        qt-version: [ 5 ]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        # Use bash login shell sourcing ~/.bash_profile
        shell: bash -leo pipefail {0}
    env:
      CLANG_TIDY: clang-tidy

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Install packages
        run: |
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo add-apt-repository -y "deb https://apt.llvm.org/jammy/ llvm-toolchain-jammy main"
          sudo apt-get update
          sudo apt-get upgrade
          sudo apt-get install build-essential qtbase5-dev qtbase5-dev-tools libqt5x11extras5-dev $CLANG_TIDY

      - name: Context
        run: echo "clang-tidy version:" `$CLANG_TIDY --version`

      - name: Configure
        run: ./configure --prefix=$HOME/usr --sysconfdir=$HOME/etc

      - name: Clang-tidy check
        run: make -j8 && make clang-tidy-check

