name: flexemu-macos-build-and-test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  macos-build-and-test:
    runs-on: macos-latest
    env:
      CC: clang
      CXX: clang++
      QT_SELECT: qt5
    steps:

      - name: Install packages
        run: |
          brew install gnu-sed qt@5
          echo "/opt/homebrew/opt/gnu-sed/libexec/gnubin" >> $GITHUB_PATH
          echo "/opt/homebrew/opt/qt@5/bin" >> $GITHUB_PATH

      - name: Context
        run: |
          CCVER='/[^0-9]([0-9]+\.[0-9]+\.[0-9]+)/p;q'
          uname -a
          sysctl hw.physicalcpu
          sysctl hw.logicalcpu
          echo "SHELL:" $SHELL
          VER=`$CC --version | sed -nE $CCVER`
          echo "C compiler version:" $VER
          VER=`$CXX --version | sed -nE $CCVER`
          echo "C++ compiler version:" $VER
          echo "Qt version:" $QT_SELECT
          echo "Runner arch:" $RUNNER_ARCH
          echo "Runner OS:" $RUNNER_OS
          echo "Shell:" $SHELL
          echo "PATH:" $PATH
          echo `sed --version | sed -ne "/^sed.*[0-9]\+\.[0-9]\+/p;q"`

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Configure
        run: ./configure --prefix=$HOME/usr --sysconfdir=$HOME/etc || cat config.log
      - name: Make
        run: make -j4

      - name: Install
        run: make install

      - name: Test
        run: |
          otool -L src/flexemu
          otool -L src/flexplorer
          make -j4 check
          test/test_gccasm
          src/dsktool -l disks/games.dsk
          src/dsktool -f new.dsk -S 80dsdd
          src/dsktool -C disks/system.dsk -T new.dsk
          src/dsktool -l new.dsk

      - name: Create artifacts
        if: always()
        run: |
          mkdir -p result/test
          if [ -f config.log ]; then
            cp config.log result
          fi
          cd test
          if compgen -G *.log > /dev/null; then
            cp *.log ../result/test
          fi
          if compgen -G *.xml > /dev/null; then
            cp *.xml ../result/test
          fi
          if compgen -G *.trs > /dev/null; then
            cp *.trs ../result/test
          fi
          cd ..
          echo "OS:          " `uname -a` > result/context.txt
          echo "SHELL:       " echo $SHELL >> result/context.txt
          echo "Qt-version:  " $QT_SELECT >> result/context.txt
          echo "C-compiler:  " `$CC --version` >> result/context.txt
          echo "C++-compiler:" `$CXX --version` >> result/context.txt
          echo "Phys. CPUs:  " `sysctl hw.physicalcpu` >> result/context.txt
          echo "Log. CPUs:   " `sysctl hw.logicalcpu` >> result/context.txt

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: flexemu-build-and-test-macos-${QT_SELECT}-${CC}-result
          path: result
          if-no-files-found: error

